<ion-view view-title="Database">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h1>{{database.databaseName}}</h1>
      </div>
      <div class="item item-body">

      <ion-list>
      <ion-item ng-repeat="forest in [].concat(database.forests)"
                href="#/app/forests/{{forest}}">{{idNames[forest]}}</ion-item>
      </ion-list>

      </div>
      
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>