<ion-view view-title="Group">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h1>{{group.groupName}}</h1>
      </div>
      <div class="item item-body">

      <ion-list>
      <ion-item ng-repeat="host in [].concat(group.hosts)"
                href="#/app/hosts/{{host}}">{{idNames[host]}}</ion-item>
      </ion-list>

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>