<ion-view view-title="Setting">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h1>{{setting.settingName}} - {{setting.settingInstance}}</h1>
      </div>

      <form ng-submit="/api/setting?id={{setting.settingId}}">
        <ion-list>
        <ion-item ng-repeat="parameter in setting.parameters">
        

        <label class="item item-input">
          <b>{{parameter.name}}:&nbsp;</b> 
            <input type="text" name="{{parameter.id}}" value="{{parameter.value}}"/>
        </label>
        </ion-item>

      </ion-list>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Save</button>
      </div>
    </form>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>